.heroimg {
    position: relative;
    width: 100%;
    height: 90vh;
  }
  
  .herotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
  }
  
  .herotext h1 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .slideshow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    filter: grayscale(100%); /* Apply grayscale filter */
    object-fit: cover; /* Prevent image distortion */
  }
  
  .slide.visible {
    opacity: 1;
  }
  
  .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the darkness level */
  }
  
  .scroll-down-arrow {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .scroll-down-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }

  .scroll-down-arrow:hover {
    border-color: palevioletred;
  }
  
  .scroll-down-arrow:hover::before {
    border-color: palevioletred;
  }

  html{
    scroll-behavior: smooth;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .heroimg {
      height: 300px; /* Adjust the height for smaller screens */
    }
    
    .herotext h1 {
      font-size: 30px; /* Adjust the font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .heroimg {
      height: 200px; /* Adjust the height for smaller screens */
    }
    
    .herotext h1 {
      font-size: 24px; /* Adjust the font size for smaller screens */
    }
  }