<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/about.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <title>About Us</title>
</head>
<body>
	<header class="nav-head">
        <nav class="main-nav">
			<!-- The hamburger menu is created here but the display is initially hidden -->
            <div class="hamburger">
                <li><i class="fa-solid fa-bars"></i></li>
            </div>
            <ul class="nav-left">
                <li><a href="/" class="nav-link">HOME</a></li>
                <li><a href="tops.html" class="nav-link">SUPPORT</a></li>
                <li><a href="/about" class="nav-link">ABOUT</a></li>
                <li><a href="accessories.html" class="nav-link">REGISTER/LOGIN</a></li>    
            </ul>
            <!-- <ul class="nav-middle">
                <li class="middle-link"><a href="index.html"><img src="/images/hglogo.avif" alt="" class="head-logo"></a></li>
            </ul> -->
           <ul class="nav-right">
            <li><img src="/img/Hope4Changelogo.png" alt="" class="head-logo"></li>
           </ul>
        </nav>
    </header> 

<!-- section for article on about us page -->
<section class="about-section1">
	<img class="about-hero" src="/img/H4CBanner.png" atl="minorities group">
</section>
	
<section class="about-section2">
	<h2 class="mission">Our Mission</h2>
	<div class="mission-container">

		<p class="mission-p">
			Our organization is dedicated to empowering and uplifting minorities facing oppression in the United States. We strive to create an inclusive society that recognizes and values the rights, dignity, and unique experiences of all marginalized communities. Through advocacy, education, and community engagement, we aim to dismantle systemic barriers, challenge prejudice, and foster equitable opportunities for growth and success. Together, we work towards a future where every individual, regardless of their race, ethnicity, or background, can thrive, express their authentic selves, and contribute meaningfully to the fabric of our nation.
		</p>
		<div>
			<img class="side-img" src="/img/protest.jpg" alt="stand up speak up photo">
		 </div>          
	</div>
</section>
	
<section class="about-section3">
	<h2 class="team-h2"> Meet The Team</h2>
	<!-- here for flip card -->
	<div class="flip-container">
		<div class="flip-card">
			<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="/img/DSC09663.jpg" alt="Avatar">
			</div>
			<div class="flip-card-back">
				<a href="https://www.linkedin.com/in/dderr/" class="team-link" target="_blank"></a><h1>D'Andre Der</h1></a>
				<p>CEO</p> 
			</div>
			</div>
		</div>
		<!-- 2nd flip card -->
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/img/james.jpeg" alt="Avatar">
				</div>
				<div class="flip-card-back">
					<a href="https://www.linkedin.com/in/jamestjones3rd/" class="team-link" target="_blank"><h1>James Jones</h1></a> 
					<p>Founder</p> 
				</div>
			</div>
		</div>
		<!-- 3rd flip-card -->
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/Isaiah.jpg" alt="Avatar">
					</div>
					<div class="flip-card-back">
						<a href="https://www.linkedin.com/in/isaiah-shembo-/" class="team-link" target="_blank"><h1>Isaiah Shembo</h1></a> 
						<p>Co-Founder</p> 
					</div>
				</div>
			</div>
		<!-- 4th flip card -->
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="/img/kt.jpeg" alt="Avatar">
					</div>
					<div class="flip-card-back">
						<a href="#" class="team-link" target="_blank"><h1>Kristine</h1></a>
						<p>Community Resources</p> 
					</div>
				</div>
			</div>
		</div>
	</section>

    <!-- footer, use on every page -->
<footer class="main-footer">
	<div class="footer-top">
		<ul class="foot-list-vert">
			<li><a href="#" class="footer-link1">sign up for email</a></li>
			<li><a href="#" class="footer-link1">become a member</a></li>
			<li><a href="#" class="footer-link1">hope4change book</a></li>
			<li><a href="#" class="footer-link1">send us feedback</a></li>
		</ul>

		<ul class="foot-list-vert">
			<li><a href="help.html" class="footer-link1">Contact</a></li>
			<li><a href="#" class="footer-link2">123-456-7890</a></li>
			<li><a href="#" class="footer-link2">Example@gmail.com</a></li>
			<li><a href="#" class="footer-link2">123 Example st, Charlotte, NC</a></li>
		</ul>

		<ul class="foot-list-vert">
			<li><a href="#" class="footer-link1">About Hope4Change</a></li>
			<li><a href="#" class="footer-link2">News</a></li>
			<li><a href="#" class="footer-link2">Careers</a></li>
			<li><a href="#" class="footer-link2">Investors</a></li>
		</ul>

		<ul class="footer-list-social">
			<li class="footer-item"><a href="https://www.facebook.com/" target="_blank" aria-label="facebook link" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
			<li class="footer-item"><a href="https://twitter.com/" target="_blank" aria-label="twitter link" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
			<li class="footer-item"><a href="https://www.instagram.com/thehomexgrown/" target="_blank" aria-label="instagram link" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
		</ul>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom-left">
			<div class="fbl-left1">
				<i class="fa-solid fa-location-dot"></i>
				<p class="fblp">United States</p>
			</div>
			<div class="fbl-left2">
				<p class="copyright">&copy; 2023 Hope4Change All Rights Reserved</p>
			</div>
		</div>
		<div class="footer-bottom-right">
			<div class="fbr-top">
				<ul class="fbr-list">
					<li><p>Terms of Sale</p></li>
					<li><p>Terms of Use</p></li>
					<li><p>H4C Privacy Policy</p></li>
					<li><p>Your Privacy Choices</p></li>
				</ul>
			</div>
			<br>
			<!-- <div class="fbr-bottom">
				<p>NC Supply Chains Act</p>
			</div> -->

		</div>
	</div>
</footer>
</body>

</html>