<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newsletter.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Hope4Change</title>
</head>
<body>
    <header class="nav-head">
        <nav class="main-nav">
			<!-- The hamburger menu is created here but the display is initially hidden -->
            <div class="hamburger">
                <li><i class="fa-solid fa-bars"></i></li>
            </div>
            <ul class="nav-left">
                <li><a href="index.ejs" class="nav-link">HOME</a></li>
                <li><a href="support.ejs" class="nav-link">SUPPORT</a></li>
                <li><a href="bottoms.html" class="nav-link">ABOUT</a></li>
                <li><a href="accessories.html" class="nav-link">REGISTER/LOGIN</a></li>    
            </ul>
            <!-- <ul class="nav-middle">
                <li class="middle-link"><a href="index.html"><img src="/images/hglogo.avif" alt="" class="head-logo"></a></li>
            </ul> -->
           <ul class="nav-right">
            <li><img src="/images/Hope4Changelogo.png" alt="" class="head-logo"></li>
           </ul>
        </nav>
    </header>
    <!-- MY CODE -->
    <h1>Subscribe to Newsletter</h1>
    <form action="/subscribe" method="POST">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Subscribe</button>
    </form>

    <h1>Unsubscribe from Newsletter</h1>
    <form action="/unsubscribe" method="POST">
      <input type="email" name="email" placeholder="Email" required>
      <button type="submit">Unsubscribe</button>
    </form>




    <!-- footer, use on every page -->
    <footer class="main-footer">
        <div class="footer-top">
            <ul class="foot-list-vert">
                <li><a href="#" class="footer-link1">sign up for email</a></li>
                <li><a href="#" class="footer-link1">become a member</a></li>
                <li><a href="#" class="footer-link1">hope4change book</a></li>
                <li><a href="#" class="footer-link1">send us feedback</a></li>
            </ul>

            <ul class="foot-list-vert">
                <li><a href="help.html" class="footer-link1">Contact</a></li>
                <li><a href="#" class="footer-link2">123-456-7890</a></li>
                <li><a href="#" class="footer-link2">Example@gmail.com</a></li>
                <li><a href="#" class="footer-link2">123 Example st, Charlotte, NC</a></li>
            </ul>

            <ul class="foot-list-vert">
                <li><a href="#" class="footer-link1">About Hope4Change</a></li>
                <li><a href="#" class="footer-link2">News</a></li>
                <li><a href="#" class="footer-link2">Careers</a></li>
                <li><a href="#" class="footer-link2">Investors</a></li>
            </ul>

            <ul class="footer-list-social">
                <li class="footer-item"><a href="https://www.facebook.com/" target="_blank" aria-label="facebook link" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li class="footer-item"><a href="https://twitter.com/" target="_blank" aria-label="twitter link" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-item"><a href="https://www.instagram.com/thehomexgrown/" target="_blank" aria-label="instagram link" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <div class="fbl-left1">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="fblp">United States</p>
                </div>
                <div class="fbl-left2">
                    <p class="copyright">&copy; 2023 Hope4Change All Rights Reserved</p>
                </div>
            </div>
            <div class="footer-bottom-right">
                <div class="fbr-top">
                    <ul class="fbr-list">
                        <li><p>Terms of Sale</p></li>
                        <li><p>Terms of Use</p></li>
                        <li><p>H4C Privacy Policy</p></li>
                        <li><p>Your Privacy Choices</p></li>
                    </ul>
                </div>
                <br>
                <!-- <div class="fbr-bottom">
                    <p>NC Supply Chains Act</p>
                </div> -->

            </div>
        </div>
    </footer>

    <script>
		//Hamburger Menu
		const hamburger = document.querySelector(".hamburger");
		const navigation = document.querySelector(".nav-left");
        const navigation2 = document.querySelector(".nav-right");

		// click event adds the class of active to display the hidden nav menu
		hamburger.addEventListener("click", () => {
			navigation.classList.toggle("active");
            navigation2.classList.toggle("active");
		});
	</script>
</body>
</html>