<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Hope4Change</title>
</head>
<body>
    <header class="nav-head">
        <nav class="main-nav">
			<!-- The hamburger menu is created here but the display is initially hidden -->
            <div class="hamburger">
                <li><i class="fa-solid fa-bars"></i></li>
            </div>
            <ul class="nav-left">
                <li><a href="index" class="nav-link">HOME</a></li>
                <li><a href="support.ejs" class="nav-link">SUPPORT</a></li>
                <li><a href="bottoms.html" class="nav-link">ABOUT</a></li>
                <li><a href="accessories.html" class="nav-link">REGISTER/LOGIN</a></li>    
            </ul>
            <!-- <ul class="nav-middle">
                <li class="middle-link"><a href="index.html"><img src="/images/hglogo.avif" alt="" class="head-logo"></a></li>
            </ul> -->
           <ul class="nav-right">
            <li><img src="/images/Hope4Changelogo.png" alt="" class="head-logo"></li>
           </ul>
        </nav>
    </header>



    <!-- Dre Code -->
    <section class="supporthero">
        <div class="supportherotext">
            <h1>Get Involved</h1>
        </div>
    </section>
    <main class="supportmain">
        <section class="support-intro">
            <div class="content-container">
                 <h2>
                How You Can Help
                </h2>
                <p>To support non-profit organizations in their efforts to assist minority groups facing oppression, individuals can contribute in various ways. First and foremost, one can donate their time by volunteering for these organizations. By offering their skills, knowledge, and enthusiasm, volunteers can directly engage with the affected communities and provide support in areas such as education, healthcare, legal aid, or advocacy. Additionally, financial contributions are crucial to sustaining the operations and programs of non-profits. Even small, regular donations can make a significant impact when combined with others. Sharing information about these organizations and their causes through social media platforms or personal networks can also raise awareness and help attract more support. Lastly, individuals can educate themselves about the struggles and challenges faced by minority groups to foster empathy and understanding, allowing them to become effective allies in the fight against oppression. By combining these efforts, people can make a meaningful difference in helping non-profits uplift and empower marginalized communities.</p>
            </div>
        </section>
        <section class="formback">
            <br>
            <h2>
                Choose a topic below to search for Non-Profit Organizations
            </h2>
            <br>
            <form action="/submitsupport" method="POST" class="homeForm">
                <label for="issue" class="homeLabel">Select an issue:</label>
                <select name="issue" id="issue" class="homeSelect">
                <option value="lgbt">LGBT</option>
                <option value="poverty">Poverty</option>
                <option value="immigrants">Immigrants</option>
                <option value="racial-justice">Racial Justice</option>
                <option value="veterans">Veterans</option>
                <option value="votingrights">Voting Rights</option>
                <option value="disabilities">Disabilities</option>
                <option value="gender-equality">Gender Equality</option>
                </select>
                <br>
                <button type="submit" class="homeButton">Submit</button>
            </form>
        </section> 
    </main>





    <!-- footer, use on every page -->
    <footer class="main-footer">
        <div class="footer-top">
            <ul class="foot-list-vert">
                <li><a href="#" class="footer-link1">sign up for email</a></li>
                <li><a href="#" class="footer-link1">become a member</a></li>
                <li><a href="#" class="footer-link1">hope4change book</a></li>
                <li><a href="#" class="footer-link1">send us feedback</a></li>
            </ul>

            <ul class="foot-list-vert">
                <li><a href="help.html" class="footer-link1">Contact</a></li>
                <li><a href="#" class="footer-link2">123-456-7890</a></li>
                <li><a href="#" class="footer-link2">Example@gmail.com</a></li>
                <li><a href="#" class="footer-link2">123 Example st, Charlotte, NC</a></li>
            </ul>

            <ul class="foot-list-vert">
                <li><a href="#" class="footer-link1">About Hope4Change</a></li>
                <li><a href="#" class="footer-link2">News</a></li>
                <li><a href="#" class="footer-link2">Careers</a></li>
                <li><a href="#" class="footer-link2">Investors</a></li>
            </ul>

            <ul class="footer-list-social">
                <li class="footer-item"><a href="https://www.facebook.com/" target="_blank" aria-label="facebook link" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li class="footer-item"><a href="https://twitter.com/" target="_blank" aria-label="twitter link" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-item"><a href="https://www.instagram.com/thehomexgrown/" target="_blank" aria-label="instagram link" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <div class="fbl-left1">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="fblp">United States</p>
                </div>
                <div class="fbl-left2">
                    <p class="copyright">&copy; 2023 Hope4Change All Rights Reserved</p>
                </div>
            </div>
            <div class="footer-bottom-right">
                <div class="fbr-top">
                    <ul class="fbr-list">
                        <li><p>Terms of Sale</p></li>
                        <li><p>Terms of Use</p></li>
                        <li><p>H4C Privacy Policy</p></li>
                        <li><p>Your Privacy Choices</p></li>
                    </ul>
                </div>
                <br>
                <!-- <div class="fbr-bottom">
                    <p>NC Supply Chains Act</p>
                </div> -->

            </div>
        </div>
    </footer>

    <script>
		//Hamburger Menu
		const hamburger = document.querySelector(".hamburger");
		const navigation = document.querySelector(".nav-left");
        const navigation2 = document.querySelector(".nav-right");

		// click event adds the class of active to display the hidden nav menu
		hamburger.addEventListener("click", () => {
			navigation.classList.toggle("active");
            navigation2.classList.toggle("active");
		});
	</script>
</body>
</html>